{% extends "base.jinja" %}

{% block style %}
    <style>
        #model_list {
            max-width: 300px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="d-flex flex-fill scrollarea">
    <div class="container my-3">
        <form id="model_form" action="{{ url_for('tskin.save') }}" method="POST">
            <div class="card">
                <div class="card-header">
                    Tactigon Skin configuration
                </div>
                <div class="card-body">
                    <h3 class="text-center">MODEL SELECTION</h3>
                    <h5 class="text-muted text-center">Which gesture model do you want to use?</h5>
                    <hr>

                    <div class="list-group m-auto mb-3" id="model_list">
                        {% for model in models %}
                            <button type="button" class="list-group-item list-group-item-action" data-value="{{ model.name }}">{{ model.name.replace("_", " ") }}</button>
                        {% endfor %}
                    </div>

                    <input type="hidden" name="tskin_name" value="{{ tskin_name }}">
                    <input type="hidden" name="tskin_mac" value="{{ tskin_mac }}">
                    <input type="hidden" name="hand" value="{{ hand }}">
                    <input type="hidden" name="model" value="">
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center gap-3">
                        <a href="{{ url_for('main.index') }}" class="btn btn-outline-secondary px-4">Go back</a>
                        <button type="submit" class="btn btn-tskin" id="continue">Confirm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function(){
        // on dom load
        $("#model_list").find("button").click(function(e){
            const btn = $(this),
                model = btn.data("value");

            btn.siblings().removeClass("bg-light");
            btn.addClass("bg-light")
            $("input[name=model]").val(model);
        })
    })

</script>
{% endblock %}